.grosseimg{
  cursor: zoom-in;
  width: 5em;
  height: auto;
}





.boutonretour{


  border-radius: 10px;
  border: 1px solid #218380;
  background-color: #218380;
  color: #f7f3f3;
  font-size: 1.5em;


}


