.grosseimg{
  cursor: zoom-in;
  width: 5em;
  height: auto;
}


.imageengrand{
  cursor: help;
  width: 100%;
  height: auto;

}

.imageengrand:hover::before {
  content: attr(data-text);
  position: absolute;
  top: -20px; /* Ajustez la position verticale du texte */
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0.8;
  z-index: 1;
}

.boutonretour{


  border-radius: 10px;
  border: 1px solid #218380;
  background-color: #218380;
  color: #f7f3f3;
  font-size: 1.5em;


}
