:root {
  --primary-bg-color: #1b1b1e;
  --secondary-bg-color: #007d00;
  --accent-color: #05f140;
  --border-color: #2cda9d;
}

body {
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-bg-color);
  color: #fff;
}

.header-right {
  padding-right: 3em;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #1e1f22;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 1em;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.nav-links {
  display: flex;
}

.nav-link {
  text-decoration: none;

  margin: 0 0.5em;
  border: 3px solid #2cda9d;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.nav-link:hover {
  border: 3px solid #ccfbeb;
}

.imggithub {
  height: 3em;

  background-color: white;
  border-radius: 500px;
}

.imglinkedin {
  height: 3em;

  border-radius: 500px;
  background-color: white;
}

.imglinkedindiv {
  position: relative;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  top: 1em;
}

.imggithubdiv {
  position: relative;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  top: 1em;
}


.introoutro{
  font-size: 2em;

  text-align: center;
  margin: 4;
  padding: 1em;

 padding-left: 7em;
 padding-right: 7em;
}

.collabo{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5;
  padding: 0.5em;

 padding-left: 7em;
 padding-right: 7em;
}