:root {
  --primary-bg-color: #1b1b1e;
  --secondary-bg-color: #007d00;
  --accent-color: #05f140;
  --border-color: #2cda9d;
}

.imgmoi {
  width: 20em;
  height: auto;
  position: relative;

  right: 0;

  z-index: 2;

  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  background-color: #2cda9d88;
  border-radius: 10px;
  pointer-events: none;
}

.lecanvas {
  position: fixed;
  top: 5em;

  right: 0;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  height: 70%;
  width: 100%;
}

.contactdiv {
  position: relative;
  z-index: 2;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  background-color: #2cda9d88;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  padding: 10px; /* Ajustez la taille du padding selon vos besoins */
}

.presdiv {
  position: relative;
  z-index: 2;
  margin-top: 5em;
  margin-left: 20em;
  margin-right: 20em;
  margin-bottom: 5em;
  background-color: #82e9c588;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  padding: 10px; /* Aju
}

.cvlien {
  position: relative;
  z-index: 2;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  background-color: #2cda9d88;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  padding: 10px; /* Ajustez la taille du padding selon vos besoins */
}

.textfren {
  position: relative;
  z-index: 2;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  background-color: rgba(204, 186, 219, 0.5);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  pointer-events: none;
}

.drapeaubtn {
  position: fixed;
  z-index: 2;

  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.drapeau {
  position: fixed;
  z-index: 2;
  height: 5em;
  width: auto;
}
